<table align="center" class="column-options">
    <tr>
        <td>
            <input type="checkbox" class="columnToggle" value="employee-id" /> Employee ID
        </td>
        <td>
            <input type="checkbox" class="columnToggle" value="employee-fullname" /> Full Name
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" class="columnToggle" value="employee-firstname" /> First Name
        </td>
        <td>
            <input type="checkbox" class="columnToggle" value="employee-email" /> Email
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" class="columnToggle" value="employee-middlename" /> Middle Name
        </td>
        <td>
            <input type="checkbox" class="columnToggle" value="employee-localaddress" /> Local Address
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" class="columnToggle" value="employee-lastname" /> Last Name
        </td>
        <td>
            <input type="checkbox" class="columnToggle" value="employee-departmentname" /> Department
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" class="columnToggle" value="employee-gender" /> Gender
        </td>
        <td>
            <input type="checkbox" class="columnToggle" value="employee-positionname" /> Position
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" class="columnToggle" value="employee-dateofbirth" /> Date Of Birth
        </td>
        <td>
            <input type="checkbox" class="columnToggle" value="employee-startdate" /> Start Date
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" class="columnToggle" value="employee-phonenumber" /> Phone Number
        </td>
        <td>
            <input type="checkbox" class="columnToggle" value="employee-enddate" /> End Date
        </td>
    </tr>
</table>
<br />
<div class="d-flex justify-content-center mb-2">
    <button type="button" id="select-column-done-btn" class="btn btn-success ms-2" data-bs-dismiss="modal" aria-label="Save">Save</button>
    <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal" aria-label="Cancel">Cancel</button>
</div>