<div class="password-change">
    <div class="recent-password d-flex align-items-center mb-2">
        <label for="recentPassword" class="form-label mb-0 col-5">Your Password<span class="text-danger ms-2">*</span></label>
        <input type="password" class="form-control mb-0 recent-password-input" id="recentPassword" name="recentPassword" value="" required />
    </div>
    <div class="new-password d-flex align-items-center mb-2">
        <label for="newPassword" class="form-label mb-0 col-5">New Password<span class="text-danger ms-2">*</span></label>
        <input type="password" class="form-control mb-0 new-password-input" id="newPassword" name="newPassword" value="" required />
    </div>
    <div class="re-new-password d-flex align-items-center mb-2">
        <label for="reNewPassword" class="form-label mb-0 col-5">Re-enter New Password<span class="text-danger ms-2">*</span></label>
        <input type="password" class="form-control mb-0 re-new-password-input" id="reNewPassword" name="reNewPassword" value="" />
    </div>
</div>
<hr />
<div class="password-button d-flex justify-content-end">
    <button type="button" class="btn btn-secondary ms-1" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
    <button type="button" class="btn btn-success ms-1" id="changePassword">Change Password </button>
</div>